################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/Employee/Employee.API/bin/Debug/net8.0
/Services/Employee/Employee.API/obj
/Services/Employee/Employee.Application/bin/Debug/net8.0
/Services/Employee/Employee.Application/obj
/Services/Employee/Employee.Domain/bin/Debug/net8.0
/Services/Employee/Employee.Domain/obj
/Services/Employee/Employee.Infrastructure/bin/Debug/net8.0
/Services/Employee/Employee.Infrastructure/obj
